<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }
        h1 {
            text-align: center;
            font-size: 1.3em;
            text-transform: uppercase;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 3px;
        }
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            border: 1px solid black;
        }
        .noBorder {
            border: none !important;
           padding-top: 50px;
           padding-bottom: 50px;
            
        }
        .signatureBox {
  
            padding-bottom: 70px;
        }
        #grey {
            background-color: #dddddd;
        }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Mooring Inspection Report</title>
    {{#each css}}
    <link rel="stylesheet" href="/{{this}}">
    {{/each}}
</head>
<body>
  <header>
      <table>
          <tr>
              <td style="float:left">FUS LOGO HERE</td>
              <td style="float:right">Client LOGO HERE</td>
          </tr>
      </table>
   {{!-- {{{getImages attachments.0.fullUri}}} --}}

</header>
<main> 
    <h1>Mooring Inspection Report</h1>

    <div class="report-container">


      



</main>
    {{!-- {{> footer}} --}}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src='/index.js'></script>

</body>
