*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
html {
    background: gray;
    display: block;
}
body{
    max-width: 50em;
    margin: 0 auto;
    background: white;
    padding: 2em;
}

#header{
    width:960px;
    height:120px
}
#footer{
    height:60px;
    background:#fff;
    clear:both;
    font-size:smaller 
}

h1 {

    font-size: 28px;
    text-transform: uppercase;
    text-align:center;
    color:#1e73be
}
h2 {

    font-size: 22px;
    text-transform: uppercase;
    text-align:center;
    color:#1e73be
}
h3 {

    font-size: 20px;
    text-transform: uppercase;
    text-align:center;
    color:#1e73be
}
h4 {

    font-size: 18px;
    text-transform: uppercase;
    text-align:left;
    color:#1e73be;
    page-break-before: always;
}
h5 {

    font-size: 16px;
    text-transform: uppercase;
    text-align:left;
    color:#1e73be
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    page-break-inside: avoid;
    
}

.centeredText {
    text-align: center !important;
}

.flexFullPageContainerFrontPage {
    display: flex;
    flex-direction: column;
    min-height: 80vh
}

.centerDivOnPage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
tr{
    border:none;
    height:15px
}
td{
    border:1px solid black;
    height:15px
}
th {

    text-align: left;
    border: 1px solid black;    
    background-color: #1e73be;
    color:#fff;
    height:25px;
    line-height: 50%
}

.noBorder {
    border: none !important;
}

.noBorderTopBottom {
    border-top: none !important;
    border-bottom: none !important;
}

.noBorderSides {
    border-left: none !important;
    border-right: none !important;
}

.noBorderRight {
    border-right: none !important;
}

.smallText {
    font-size: 12px;
}

.signatureBox {
    padding-bottom: 70px;
}

#grey {
    background-color: #dddddd
}
.center{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:80%
}
section{
    page-break-inside: avoid;
}
@media screen {
    div.divHeader {
      display:show
    }
  }
  @media print {
    div.divHeader {
      position: fixed;
      Top: 0;
    }
  }
  @media screen {
    div.divFooter {
      display: show;
    }
  }
  @media print {
    Footer {
      position: fixed;
      bottom: 0;
    }
    .content-block,p{
        page-break-inside:avoid;
    }
    
  }
  footer{
      font-size: smaller;
      color:black;
      text-align:left;
  }
  @page{
      size:A4;
      margin: 11mm 17mm 17mm 17mm;
      @bottom-right{
        content:counter(page) ' of ' counter(pages);
      }
  }
  #pageFooter{
      display: table-footer-group;
  }
 