*{
    font-family: Courier-New,Tahoma,Arial, Helvetica, Sans-Serif;
    font-size: small;
}
html {
    background: gray;
    display: block;
}
body{
    max-width: 50em;
    margin: 0 auto;
    background: white;
    padding: 2em;
}

#header{
    width:960px;
    height:120px
}
#footer{
    height:60px;
    background:#fff;
    clear:both;
    font-size:smaller 
}

h1 {

    font-size: 28px;
    text-transform: uppercase;
    text-align:center;
    color:#1e73be
}
h2 {

    font-size: 22px;
    text-transform: uppercase;
    text-align:center;
    color:#1e73be
}
h3 {

    font-size: 20px;
    text-transform: uppercase;
    text-align:center;
    color:#1e73be
}
h4 {

    font-size: 18px;
    text-transform: uppercase;
    text-align:left;
    color:#1e73be;
    page-break-before: always;
}
h5 {

    font-size: 16px;
    text-transform: uppercase;
    text-align:left;
    color:#1e73be;
}
h6{
    font-size: 12px;
    text-transform: uppercase;
    text-align:left;
    color:#1e73be;;
    padding:25px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 85%;
    page-break-inside:avoid; 
}

.centeredText {
    text-align: center !important;
}

.flexFullPageContainerFrontPage {
    display: flex;
    flex-direction: column;
    min-height: 80vh
}

.centerDivOnPage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
tr{
    border:none;
    height:15px
}
td{
    border:1px solid black;
    height:15px
}
th {

    text-align: left;
    border: 1px solid black;    
    background-color: #1e73be;
    color:#fff;
    height:25px;
    line-height: 50%
}

.noBorder {
    border: none !important;
}

.noBorderTopBottom {
    border-top: none !important;
    border-bottom: none !important;
}

.noBorderSides {
    border-left: none !important;
    border-right: none !important;
}

.noBorderRight {
    border-right: none !important;
}

.smallText {
    font-size: 12px;
}

.signatureBox {
    padding-bottom: 70px;
}

#grey {
    background-color: #dddddd
}
.center{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:80%
}
section{
    page-break-inside: avoid;
}
@media screen {
    div.divHeader {
      display:show;
      height: 100px;
    }
  }
  @media print {
    div.divHeader {
      position: fixed;
      height: 100px;
      Top: 0;
    }
    Footer {
        position: fixed;
        bottom: 0;
      }
      .content-block,p{
          page-break-inside:avoid;
      }
      table{page-break-after: avoid;}
      tr{page-break-inside: avoid; page-break-after: auto;   }
      td{page-break-inside: avoid; page-break-after: auto; }
      thead{display:table-header-group;background-color: #1e73be;}
      th{background-color: #1e73be;}
  }
  @media screen {
    div.divFooter {
      display: show;
    }
  }
 
  a:link{text-decoration:none;}
  footer{
      font-size:x-small;
      color:black;
      text-align:left;
  }
  @page{
      size:A4;
      margin: 11mm 17mm 17mm 17mm;
      @bottom-right{
        content:counter(page) ' of ' counter(pages);
      }
  }
  #pageFooter{
      display: table-footer-group;
  }
  #container{
      -mz-column-count:2;
      -webkit-column-count: 2;
      column-count: 2;
      height: 60px;
      width: 40px;
  }
  .block{
      width:40px;
      height: 40px;
      margin:0 0 5px 0;
  }
  #grid{
      height: 100px;
      display: grid;
      grid-template-areas: "a a";
      gap:10px;
      grid-template: repeat(2, 1fr);
      grid-auto-columns: 90px;     
      grid-auto-flow: column;
  }
  .row{
      display:flex;
      flex-wrap: wrap;
      padding: 0 4px;
  }
  .column {
      flex:50%;
      padding:0 4px
  }
  .column img{
      height: 200px;
      width: 250px;
      margin-top: 8px;
      vertical-align: middle;
  }
  ul.a{
    list-style-type: none;
    font-size: 12px;   
    list-style-position: outside;
    margin-top: auto;
    margin-bottom: auto;
    
  }
  ul.b{
    list-style-type: none;
    font-size: 10px;
    padding: 75px;    
    list-style-position: inside;
    margin-top: auto;
    margin-bottom: auto;
  }
  li{
      margin-top: 10px;
     
  }
  li:first-child{
      margin-top: 0;
  }
  a,a:visited,a:hover,a:active{
      color:black;
  }